{% extends "sc2/global.html" %}

{% block content %}
    <h2>Player List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Email</th>
                <th>Battle.net Name</th>
                <th>League</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Ratio</th>
                <th>Score</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: players">
            <tr>
                <td data-bind="text:$index() + 1"></td>
                <td data-bind="text:name"></td>
                <td data-bind="text:vendasta_email"></td>
                <td data-bind="text:battle_net_name"></td>
                <td data-bind="text:league"></td>
                <td data-bind="text:games_won"></td>
                <td data-bind="text:games_lost"></td>
                <td data-bind="text:ratio"></td>
                <td data-bind="text:score"></td>
                <td><a data-bind="attr:{href:edit_link}">Edit</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">
    var players = {{playersJson | safe}};
    var viewModel = null;

    function PlayerModel(playerData) {
        var self = this;
        self.name = playerData.name;
        self.vendasta_email = playerData.vendasta_email;
        self.battle_net_name = playerData.battle_net_name;
        self.score = playerData.score;
        self.games_won = playerData.games_won;
        self.games_lost = playerData.games_lost;
        self.ratio = playerData.ratio;
        self.league = playerData.league;

        self.edit_link = ko.computed(function() {
            return "/sc2/admin/player/edit/" + self.battle_net_name + '/';
        });
    }

    function PlayerListViewModel(playersData) {
        var self = this;

        self.players = ko.observableArray();

        //Initialization
        for(var i=0; i < playersData.length; i++) {
            var player = new PlayerModel(playersData[i]);
            self.players.push(player);
        }
    }

    $(function() {
        //Initial setup
        viewModel = new PlayerListViewModel(players);
        ko.applyBindings(viewModel);
    });
</script>
{% endblock %}