<p>Defeat one of the people below in your league or higher in a Bo3 1v1 match to take their spot!</p>
<div layout="row" layout-sm="column">
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <h3 class="koth-heading">Captain</h3>
        <!--<sc-player-details player="ctrl.captain"></sc-player-details>-->
        <md-card class="player-details">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">???</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img src="{{ ctrl.defaultPlayerImageUrl }}">
                    </div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <h3 class="koth-heading">Sergeant</h3>
        <sc-player-details player="ctrl.sergeant"></sc-player-details>
    </div>
</div>
<div layout="row" layout-sm="column">
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <h3 class="koth-heading">Corporal</h3>
        <sc-player-details player="ctrl.corporal"></sc-player-details>
    </div>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <h3 class="koth-heading">Recruit</h3>
        <sc-player-details player="ctrl.recruit"></sc-player-details>
    </div>
</div>
