
    <div layout="column" layout-padding layout-align="top left">
        <p>
            The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <p>
            The right sidenav will focus on a specific child element.
        </p>

        <div>
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
                Toggle left
            </md-button>
        </div>

        <div>
            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                Toggle right
            </md-button>
        </div>
    </div>

    <!--<div flex></div>-->
