{% extends "sc2/global.html" %}

{% block controls %}
    {% if is_admin %}
        <a class="btn btn-primary" href="{{ uri_for('sc2-admin-match-create') }}">Create Match</a>
    {% endif %}
{% endblock %}

{% block content %}

    <h2>King of the Hill (1v1)</h2>

    <div class="well">
        Defeat one of the people below in your league or higher in a Bo3 1v1 match to take their spot!
    </div>

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <h3>Gold</h3>
                <img src="http://www.vendasta.com/__v499/static/images/team/bager.jpg" class="img-circle"/>
                <div class="caption">
                    <h3>Braeden Ager</h3>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <h3>Silver</h3>
                <img src="http://www.vendasta.com/__v499/static/images/team/cody-kurz.jpeg" class="img-circle"/>
                <div class="caption">
                    <h3>Cody Kurz</h3>
                </div>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <h3>Bronze</h3>
                <img src="http://img4.wikia.nocookie.net/__cb20121118055707/assassinscreed/images/a/af/Question_mark.png" class="img-circle"/>
                <div class="caption">
                    <h3>???</h3>
                </div>
            </div>
        </li>
    </ul>

    <h2>Matches</h2>

    <div class="well">
        If your match doesn't appear here <a href="{{ uri_for('sc2-game-submit') }}">upload a replay</a> to create it.
    </div>

    {% if matches %}
        <table class="table">
            <thead>
                <tr>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Result</th>
                    <th>Upload</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    <tr>
                        <td>{{ match.team1_names|join(', ') }}</td>
                        <td>{{ match.team2_names|join(', ') }}</td>
                        <td>{{ match.team1_wins|default(0, true) }} vs. {{ match.team2_wins|default(0, true) }}</td>
                        <td>
                            {% if match.is_open %}
                                <a class="btn btn-primary" href="{{ uri_for('sc2-game-submit', match_id=match.match_id) }}">Upload Replay</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if match.is_open %}
                                <a class="btn btn-danger close-match" href="{{ uri_for('sc2-match-close', match_id=match.match_id) }}">Close Match</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Game History</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Winning Team</th>
                <th>Losing Team</th>
                <th>Map</th>
                <th>Date</th>
                <th>Replay</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: games">
            <tr>
                <td data-bind="text:winningTeam"></td>
                <td data-bind="text:losingTeam"></td>
                <td data-bind="text:map_name"></td>
                <td data-bind="text:game_time"></td>
                <td><a data-bind="attr:{href:download_replay_link}">Download</a></td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">
    var games = {{games | safe}};
    var viewModel = null;

    $('.close-match').click(function() {
        var $this = $(this);
        var url = $this.attr('href');
        $.post(url, function() {
            var $parent = $this.closest('tr').slideUp(function() {
                $parent.remove();
            });
        });
        return false;
    });

    function PlayerPerformanceModel(data) {
        var self = this;

        self.battle_net_name = ko.observable(data.battle_net_name);
        self.won = ko.observable(data.won);
    }

    function GameModel(data) {
        var self = this;

        self.game_id = ko.observable(data.game_id);
        self.match_id = ko.observable(data.match_id);
        self.season_id = ko.observable(data.season_id);
        self.map_name = ko.observable(data.map_name);
        self.game_time = ko.observable(data.game_time);
        self.playerPerformances = ko.observableArray();

        self.winningTeam = ko.computed(function() {
            var winningPlayers = [];
            var perfs = self.playerPerformances();
            for(var i=0; i<perfs.length; i++) {
                if(perfs[i].won()) {
                    winningPlayers.push(perfs[i].battle_net_name());
                }
            }
            return winningPlayers.join(', ');
        });

        self.losingTeam = ko.computed(function() {
            var losingPlayers = [];
            var perfs = self.playerPerformances();
            for(var i=0; i<perfs.length; i++) {
                if(!perfs[i].won()) {
                    losingPlayers.push(perfs[i].battle_net_name());
                }
            }
            return losingPlayers.join(', ');
        });

        self.download_replay_link = ko.computed(function() {
            return "/sc2/game/download/?id=" + self.game_id() + "&matchId=" + self.match_id() + "&seasonId=" + self.season_id();
        });

        //Initialization
        for(var i=0; i<data.players.length; i++) {
            var playerPerformance = new PlayerPerformanceModel(data.players[i]);
            self.playerPerformances.push(playerPerformance);
        }
    }

    function GamesListViewModel(gamesData) {
        var self = this;

        self.games = ko.observableArray();

        //Initialization
        for(var i=0; i< gamesData.length; i++) {
            var game = new GameModel(gamesData[i]);
            self.games.push(game);
        }
    }

    $(function() {
        //Initial setup
        viewModel = new GamesListViewModel(games);
        ko.applyBindings(viewModel);
    });
</script>
{% endblock %}