{% extends "sc2/global.html" %}

{% block content %}
<h2>Game Submission</h2>
<p>
    Players do not submit scores for the games this season.  Instead they upload the replays from the games played.  As
    per the previous season rules, failure to submit matches before the deadline will result in a loss for both teams.
</p>

<form method="post" action="{{ uri_for('sc2-game-submit') }}" enctype="multipart/form-data">
    <label for="replay">Replay File:</label><input id="replay" name="replay" type="file"/><br />
    <input type="submit" name="Submit" />
</form>
{% endblock %}