{% extends "sc2/global.html" %}

{% block content %}
<h2>Game Submission</h2>
<div class="well">
    Players do not submit scores for the games this season.  Instead they upload the replays from the games played.
</div>

{% if current_season %}

    <form method="post" action="{{ uri_for('sc2-game-submit') }}" enctype="multipart/form-data">
        <div class="control-group">
            <label class="control-label" for="match_id">Match</label>
            <select id="match_id" name="match_id">
                <option value="">New Match</option>
                {% for match in current_matches %}
                    <option value="{{ match.match_id }}" {% if match_id == match.match_id %}selected{% endif %}>
                        {{ match.team1_battle_net_names|join(', ') }} vs
                        {{ match.team2_battle_net_names|join(', ') }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="control-group">
            <label class="control-label" for="replay">Replay File</label>
            <input id="replay" name="replay" type="file"/>
        </div>

        <input class="btn btn-primary" type="submit" name="Submit" />
    </form>

{% else %}
    <div class="alert alert-warning">You must start the season before you can submit replays.</div>
{% endif %}

{% endblock %}