$BACKGROUND_COLOR: #f2f2f2;
$BACKGROUND_FONT_COLOR: #616161;
$MAIN_FONT_COLOR: #212121;
$MAIN_BACKGROUND_COLOR: #fff;

body {
  color: #616161;
}

header {
  text-align: center;
}

ui-view {
  background-color: $BACKGROUND_COLOR;
  color: $BACKGROUND_FONT_COLOR;
}

.md-sidenav-left {
  //background-color: #333;
  height: 100%;

  .selected {
    background-color: #eee;
  }

  a {
    margin: 0;
  }
}

md-list-item.md-2-line .md-list-item-text p {
  color: rgba(0,0,0,0.54);
}

.md-table md-list-item {
  padding: 0;
}

md-card {
  color: $MAIN_FONT_COLOR;

  md-card-title {
    flex: none !important;
  }
}

md-list-item.md-2-line, md-list-item.md-2-line>.md-no-style {
  min-height: auto;
}

md-radio-group.md-default-theme.md-primary .md-checked:not([disabled]) .md-ink-ripple, md-radio-group.md-primary .md-checked:not([disabled]) .md-ink-ripple, md-radio-group.md-default-theme .md-checked:not([disabled]).md-primary .md-ink-ripple, md-radio-group .md-checked:not([disabled]).md-primary .md-ink-ripple {
  color: rgba(33,150,243,0.87);
}

.md-table {
  background: $MAIN_BACKGROUND_COLOR;

  .md-head md-checkbox {
    display: none;
  }
}

.koth-heading {
  color: $MAIN_FONT_COLOR;
  text-align: center;
}

sc-matches {
  padding: 0 !important;
}
