<div ng-if="!uploadCtrl.game">
    <h1 class="md-no-sticky md-display-1">Select Match</h1>
    <p>If no match is selected a new one will be created.</p>
    <md-table-container>
        <table md-table md-row-select ng-model="uploadCtrl.selectedMatches" md-progress="uploadCtrl.promise">
            <thead md-head>
                <tr md-row>
                    <th md-column>Team 1</th>
                    <th md-column>Team 2</th>
                    <th md-column>Result</th>
                    <th md-column>Created</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="m" md-on-select="uploadCtrl.onSelect" ng-repeat="m in uploadCtrl.matches">
                    <td md-cell>
                        <sc-player players="m.team1_players"></sc-player>
                    </td>
                    <td md-cell>
                        <sc-player players="m.team2_players"></sc-player>
                    </td>
                    <td md-cell>{{ m.team1_wins }} vs. {{ m.team2_wins }}</td>
                    <td md-cell>{{ m.created | date:'mediumDate' }}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <md-card ng-if="uploadCtrl.replay">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ uploadCtrl.replay.name }}</span>
                    <span class="md-subhead">
                        {{ uploadCtrl.replay.lastModified | date:'medium' }}
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions ng-if="!uploadCtrl.isUploading" layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="uploadCtrl.upload()">Upload</md-button>
                <md-button class="md-warn" ngf-select ng-model="uploadCtrl.replay">Replace</md-button>
            </md-card-actions>
            <div ng-if="uploadCtrl.isUploading" layout="row" layout-align="end center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-card>
    </div>

    <md-button class="md-primary md-raised" ng-if="!uploadCtrl.replay" ngf-select ng-model="uploadCtrl.replay">
        Select Replay
    </md-button>
</div>

<div ng-if="uploadCtrl.game">
    <h1 class="md-no-sticky md-display-1">Replay Uploaded</h1>

    <md-button class="md-primary md-raised" ng-click="uploadCtrl.reset()">
        Upload Another Replay
    </md-button>

    <!--<md-button class="md-warn md-raised" ng-click="uploadCtrl.close($event, uploadCtrl.selectedMatch)">-->
        <!--Close Match-->
    <!--</md-button>-->

    <md-list>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
                <h3>Winning Team</h3>
                <h4>{{ uploadCtrl.winningTeam.join(' & ') }}</h4>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text" layout="column">
                <h3>Losing Team</h3>
                <h4>{{ uploadCtrl.losingTeam.join(' & ') }}</h4>
            </div>
        </md-list-item>
    </md-list>

    <md-card ng-if="uploadCtrl.game">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Game Data</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <pre>{{ uploadCtrl.game }}</pre>
        </md-card-content>
    </md-card>
</div>
