{% extends "sc2/global.html" %}

{% block content %}
<h2>Add a Round to the Season (admin)</h2>


<form method="post" action="/sc2/admin/round/submit">
    <label>Season:</label><select data-bind="options: seasons, optionsText: 'name'"></select><br/>
    <label>Start:</label><input type="date" name="start" data-bind="options: players, optionsText: 'name'"/><br/>
    <label>End:</label><input type="date" name="end" data-bind="options: players, optionsText: 'name'"/><br />

    <input type="submit" name="Submit" />
</form>
<br style="clear:both">
<a href="/sc2/admin/">Back to admin functions</a>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">
    var players = {{players | safe}};
    var viewModel = null;

    function SeasonModel(data) {
        var self = this;

        self.name = ko.observable(data.name);
        self.start = ko.observable(data.start)
    }

    function CreateRoundViewModel(seasonData) {
        var self = this;

        self.seasons = ko.observableArray();

        //Initialization
        for(var i=0; i<seasonData.length; i++) {
            var player = new SeasonModel(seasonData[i]);
            self.seasons.push(player);
        }
    }

    $(function() {
        //Initial setup
        viewModel = new CreateMatchViewModel(players);
        ko.applyBindings(viewModel);
    });
</script>
{% endblock %}