{% extends "sc2/global.html" %}

{% block content %}
<h1>Vendasta 2014 Winter StarCraft II - Season 1</h1>

<h2>Add Match to Schedule (admin)</h2>
<p>
    Players do not submit scores for the games this season.  Instead they upload the replays from the games played.  As
    per the previous season rules, failure to submit matches before the deadline will result in a loss for both teams.
</p>

<h3>DEBUG: Current Season</h3>
<pre>{{ current_season }}</pre>

<h3>DEBUG: "Remaining Rounds</h3>
<pre>{{ remaining_rounds }}</pre>

<h3>DEBUG: Players</h3>
<pre>{{ players }}</pre>

<form method="post" action="/sc2/admin/match/submit">
    <label>Round:</label><select></select>

    <h3>Team 1</h3>
    <div><label>Player 1</label><select></select></div>
    <div><label>Player 2</label><select></select></div>

    <h3>Team 2</h3>
    <div><label>Player 1</label><select></select></div>
    <div><label>Player 2</label><select></select></div>
    <hr />
    <input type="submit" name="Submit" />
</form>
{% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">
    var players = {{players | safe}};
</script>
{% endblock %}