{% extends "sc2/global.html" %}

{% block content %}
<h2>Add Match to Schedule (admin)</h2>

<div class="well">
    Players do not submit scores for the games this season.  Instead they upload the replays from the games played.
</div>

{% if is_debug %}

    <h3>DEBUG: Current Season</h3>
    <pre>{{ current_season }}</pre>

    <h3>DEBUG: "Remaining Rounds</h3>
    <pre>{{ remaining_rounds }}</pre>

    <h3>DEBUG: Players</h3>
    <pre>{{ players }}</pre>

{% endif %}

    <h3>Suggested Matches</h3>

    <form class="form-inline">
        <input type="text" name="exclude_players" placeholder="Exclude Players" value="{{ exclude_players }}"/>
        <button type="submit" class="btn">Search for Matches</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Team 1 Average Score</th>
                <th>Team 2 Average Score</th>
                <th>Average Games Played</th>
                <th>Score Diff</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: suggestedMatches">
            <tr>
                <td data-bind="text:team1Formatted"></td>
                <td data-bind="text:team2Formatted"></td>
                <td data-bind="text:team1AverageScore"></td>
                <td data-bind="text:team2AverageScore"></td>
                <td data-bind="text:averageGamesPlayed"></td>
                <td data-bind="text:scoreDiff"></td>
                <td>
                    <button class="btn btn-primary" data-bind="click: createMatch">Create Match</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning" data-bind="visible: suggestedMatches().length == 0">
        There are no suggested matches available at the moment.
    </div>

    <form id="create-match-form" method="post" action="{{ uri_for('sc2-admin-match-create') }}">

        <div class="sc2-team-selection">
            <h3>Team 1</h3>
            <div>
                <label for="team1player1">Player 1</label>
                <select id="team1player1" name="team1player1" data-bind="options: players, optionsValue: 'battle_net_name', optionsText: 'battle_net_name'"></select>
            </div>
            <div>
                <label for="team1player2">Player 2</label>
                <select id="team1player2" name="team1player2" data-bind="options: players, optionsValue: 'battle_net_name', optionsText: 'battle_net_name'"></select>
            </div>
        </div>

        <h3 class="vs">
            Vs.
        </h3>

        <div class="sc2-team-selection">
            <h3>Team 2</h3>
            <div>
                <label for="team2player1">Player 1</label>
                <select id="team2player1" name="team2player1" data-bind="options: players, optionsValue: 'battle_net_name', optionsText: 'battle_net_name'"></select>
            </div>
            <div>
                <label for="team2player2">Player 2</label>
                <select id="team2player2" name="team2player2" data-bind="options: players, optionsValue: 'battle_net_name', optionsText: 'battle_net_name'"></select>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Create Match"/>
    </form>
    {% endblock %}

{% block script %}
<script type="text/javascript" language="javascript">
    var players = {{ players|safe }};
    var suggestedMatchesData = {{ suggested_matches_json|safe }};
    var viewModel = null;

    function PlayerModel(data) {
        var self = this;

        self.name = ko.observable(data.name);
        self.battle_net_name = ko.observable(data.battle_net_name);
        self.score = ko.observable(data.score);
        self.vendasta_email = ko.observable(data.vendasta_email);
    }

    function SuggestedMatch(data) {
        var self = this;
        self.team1 = data.team1;
        self.team2 = data.team2;
        self.team1AverageScore = data.team1_average_score;
        self.team2AverageScore = data.team2_average_score;
        self.averageGamesPlayed = data.average_games_played;
        self.scoreDiff = data.score_diff;

        self.team1Formatted = ko.computed(function() {
            return self.team1.join(' & ');
        });

        self.team2Formatted = ko.computed(function() {
            return self.team2.join(' & ');
        });

        self.createMatch = function() {
            var url = '{{ uri_for('sc2-admin-match-create') }}';
            var data = {
                team1player1: self.team1[0],
                team1player2: self.team1[1],
                team2player1: self.team2[0],
                team2player2: self.team2[1]
            };
            $.post(url, data, function () {
                window.location.href = url + '?success=True';
            }).error(function() {
                alert('Error creating match.')
            });
        }
    }

    function CreateMatchViewModel(playerData, suggestedMatchesData) {
        var self = this;

        self.players = ko.observableArray();
        self.suggestedMatches = ko.observableArray();

        //Initialization
        ko.utils.arrayForEach(playerData, function(player) {
            self.players.push(new PlayerModel(player));
        });

        ko.utils.arrayForEach(suggestedMatchesData, function(suggestedMatch) {
            self.suggestedMatches.push(new SuggestedMatch(suggestedMatch));
        });
    }

    $(function() {
        //Initial setup
        viewModel = new CreateMatchViewModel(players, suggestedMatchesData);
        ko.applyBindings(viewModel);
    });
</script>
{% endblock %}