{% extends "sc2/global.html" %}

{% block content %}
<h2>Match Schedule (admin)</h2>
<p>
    Players do not submit scores for the games this season.  Instead they upload the replays from the games played.  As
    per the previous season rules, failure to submit matches before the deadline will result in a loss for both teams.
</p>

<form method="post" action="/sc2/admin/matches/submit">
    <label>Game 1:</label><input name="game1" type="file"/><br />
    <label>Game 2:</label><input name="game2" type="file"/><br />
    <label>Game 3 (if required):</label><input name="game3" type="file"/><br />
    <input type="submit" name="Submit" />
</form>
<br style="clear:both">
<a href="/sc2/admin/">Back to admin functions</a>
{% endblock %}