<h1>Resources</h1>

<md-card>
    <md-list>
        <md-list-item>
            Here are some resources to help you get started with Starcraft 2!
        </md-list-item>
        <md-list-item>
            Even though some of them might be a bit out of date the basics have not changed much so there is still a lot to be gained.
        </md-list-item>
        <md-list-item>
            If you have any questions contact Chris Daviduik. I would also be happy to go over the game with you if you need help getting started...or at all.
        </md-list-item>
        <ul>
            <md-list-item>
                <li>
                    The <a href="https://www.reddit.com/r/starcraft/wiki/new" target="_blank">Reddit Wiki</a> has a lot of
                    information for everyone whether you are new to the game or a seasoned veteran.
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    One of my personal favourites is <a href="https://www.youtube.com/user/filtersc/playlists" target="_blank">FilterSC's bronze to master series</a>.
                    In particular there is one for Terran that I would recommend if you are new to the game since most of the skills will transfer to the other races you play.
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    Blizzard has a site dedicated to each <a href="http://us.battle.net/sc2/en/game/unit/" target="_blank">Unit</a> in Starcraft 2 with
                    in depth information including strengths and weaknesses against other units. This is great if you can't seem
                    to beat a specific composition and need to learn what counters it.
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    If you are interested in watching professionals play Starcraft 2, whether you do or not,
                    you cannot go wrong with <a href="https://www.twitch.tv/gsl/profile" target="_blank">The GSL</a>.
                    Aside from the highest quality games it also boasts some of the best commentating you can ask for.
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    For all other information your best bet is to check Blizzard's <a href="http://wcs.battle.net/sc2/en" target="_blank">WCS website</a>
                    which includes information on current tournaments and player rankings as well as news about Starcraft 2 in general.
                </li>
            </md-list-item>
        </ul>
    </md-list>
</md-card>
