<h1>Rules & Etiquette</h1>

<md-card>
    <md-list>
        <md-list-item>
            Welcome to the VendAsta Starcraft 2 Ladder! Please follow these guidelines to ensure everyone has the best
            experience possible.
        </md-list-item>
        <md-list-item>
            If you have any questions or concerns please contact Chris Daviduik.
        </md-list-item>
        <ol>
            <md-list-item>
                <li>
                    You are expected to play your match within two weeks after it is assigned.
                    <p>
                        Failure to play your match in time will result in the match being closed and each participant receiving 1 strike.
                    </p>
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    You are expected to show up to your games on time. This means ensuring your Starcraft 2 application
                    has been recently updated.
                    <p>
                        Delaying a game will result in each person on the offending team receiving 1 strike.
                    </p>
                </li>
            </md-list-item>
            <md-list-item>
                <li>
                    If a player receives 3 strikes they will be reprimanded accordingly.

                    <p>
                        In most cases this will result in a temporary ban from participating in the VendAsta Starcraft 2 Ladder.
                    </p>
                </li>
            </md-list-item>
        </ol>
    </md-list>
</md-card>
