<div layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <header>
            <a href="#/">
                <img src="/static/img/starcraft2.png"/>
            </a>
            <h1>VendAsta Ladder</h1>
        </header>
        <md-list>
            <sc-player ng-if="navCtrl.player" players="navCtrl.player"></sc-player>
            <md-list-item ui-sref="nav.dashboard" ui-sref-active="selected">
                <md-icon>dashboard</md-icon>
                <p>Dashboard</p>
            </md-list-item>
            <md-list-item ui-sref="nav.koth" ui-sref-active="selected">
                <md-icon>star</md-icon>
                <p>King of the Hill</p>
            </md-list-item>
            <md-list-item ui-sref="nav.matches" ui-sref-active="selected">
                <md-icon>group</md-icon>
                <p>MATCHES</p>
            </md-list-item>
            <md-list-item ui-sref="nav.ladder" ui-sref-active="selected">
                <md-icon>list</md-icon>
                <p>LADDER</p>
            </md-list-item>
            <md-divider></md-divider>
            <div ng-if="navCtrl.user">
                <md-list-item ui-sref="nav.upload" ui-sref-active="selected">
                    <md-icon>backup</md-icon>
                    <p>UPLOAD A REPLAY</p>
                </md-list-item>
            </div>
            <md-divider></md-divider>
            <div ng-if="navCtrl.user && navCtrl.user.is_admin">
                <md-subheader class="md-no-sticky">Admin</md-subheader>
                <md-list-item ui-sref="nav.adminCreateMatch" ui-sref-active="selected">
                    <md-icon>create</md-icon>
                    <p>CREATE MATCH</p>
                </md-list-item>
            </div>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="md-icon-button" ng-click="navCtrl.toggleMenu()" hide-gt-sm aria-label="Toggle Menu">
                <md-icon>menu</md-icon>
            </md-button>
            <h1 class="md-toolbar-tools">{{ navCtrl.pageTitle }}</h1>
            <span flex></span>
            <md-button ng-if="!navCtrl.user" ng-click="navCtrl.navigateTo(navCtrl.authLinks.login)">Login</md-button>
            <md-button ng-if="navCtrl.user" ng-click="navCtrl.navigateTo(navCtrl.authLinks.logout)">Logout</md-button>
        </md-toolbar>
        <md-content md-scroll-y layout="column" flex flex-sm="noshrink" flex-xs="noshrink">
            <ui-view layout-padding flex="noshrink"></ui-view>
        </md-content>
    </div>
</div>
