<html lang="en">
<head>
    <!-- Angular Material style sheet -->
    <link href="/static/lib/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="/static/lib/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet">
    <link href="/static/css/sc2ng.css" rel="stylesheet" media="screen">
    <!-- Icons from: https://design.google.com/icons/ -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="starcraft2">

    <ui-view></ui-view>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/static/lib/angular-aria/angular-aria.min.js"></script>
    <script src="/static/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/static/lib/angular-resource/angular-resource.min.js"></script>
    <script src="/static/lib/ui-router/release/angular-ui-router.js"></script>
    <script src="/static/lib/angular-material/angular-material.min.js"></script>
    <script src="/static/lib/angular-material-data-table/dist/md-data-table.min.js"></script>
    <script src="/static/lib/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- Your application bootstrap  -->
    <script src="/static/app/app.js"></script>
    <script src="/static/app/components/navigation/navigationController.js"></script>
    <script src="/static/app/components/matches/matchesController.js"></script>
    <script src="/static/app/components/matches/matchesDirective.js"></script>
    <script src="/static/app/components/upload/uploadController.js"></script>
    <script src="/static/app/components/ladder/ladderController.js"></script>
    <script src="/static/app/components/ladder/kothController.js"></script>
    <script src="/static/app/components/player/playerDetailsController.js"></script>
    <script src="/static/app/components/player/playerDirective.js"></script>
    <script src="/static/app/components/player/playerDetailsDirective.js"></script>
    <script src="/static/app/shared/matchFactory.js"></script>
    <script src="/static/app/shared/userService.js"></script>
    <script src="/static/app/shared/playerFactory.js"></script>

</body>
</html>
