{% extends "sc2/global.html" %}

{% block content %}
<h2>Create a Season (admin)</h2>
<div class="well">
    Creating a new Season will close the one that is currently open and transfer over the players and their ranks.
</div>
<h3>Season Creation</h3>
<form method="post" action="{{ uri_for('sc2-admin-season-create') }}" class="v-form">
    <div class="control-group">
        <label class="control-label" for="seasonname">Season Name:</label>
        <input type="text" id="seasonname" name="seasonname" required/>
    </div>
    <div class="control-group">
        <label class="control-label" for="startdate">Start date:</label>
        <input type="date" id="startdate" name="startdate" required/>
    </div>
    <input class="btn btn-primary" type="submit"/>
</form>
{% endblock %}