{% extends "base.html" %}

{% block styling_or_scripts %}
    <link href="/static/css/sc2.css" rel="stylesheet" media="screen">
    
    <script src="//vff-dev.appspot.com/static/js/jquery-1.9.1.min.js"></script>
    <script src="//vff-dev.appspot.com/static/js/knockout-3.0.0.js"></script>
{% endblock %}

{% block title %}VendAsta Starcraft 2 Ladder{% endblock %}
{% block menu_heading %}VendAsta Starcraft 2 Ladder{% endblock %}
{% block heading %}Vendasta {{ year }} {{ season }} StarCraft II - Season {{ season_no }}{% endblock %}

{% block nav_items %}
    <ul class="nav">
        {% if logout %}
            <li><a href="/sc2/game/submit/">Submit a Game Result</a></li>
        {% endif %}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ladder
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="#">View Match History</a></li>
                <li><a href="/sc2/player/">View Player Rankings</a></li>
            </ul>
        </li>
        <li class="divider-vertical"></li>

        {% if logout %}
            <li><a href="{{ logout }}">Sign Out</a></li>
        {% else %}
            <li><a href="{{ login }}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock%}

{% block page_content %}
    {% block content %}{% endblock %}
{% endblock %}

{% block body_scripts %}
    {% block script %}{% endblock %}
{% endblock %}
