{% extends "base.html" %}

{% block styling_or_scripts %}
    <link href="/static/css/sc2.css" rel="stylesheet" media="screen">

    <script src="//www.cdnstyles.com/static/js/jquery-1.9.1.min.js"></script>
    <script src="//www.cdnstyles.com/static/js/knockout-3.0.0.js"></script>
{% endblock %}

{% block title %}VendAsta Starcraft 2 Ladder{% endblock %}
{% block home_page_url %}{{ uri_for('sc2-home') }}{% endblock %}
{% block menu_heading %}VendAsta Starcraft 2 Ladder{% endblock %}

{% block heading %}Vendasta StarCraft II
    {% if current_season %}
        - {{ current_season.season_name }}
    {% endif %}
{% endblock %}

{% block nav_items %}
    <ul class="nav">
        {% if logout %}
            <li><a href="{{ uri_for('sc2-game-submit') }}">Submit a Game Result</a></li>
        {% endif %}

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ladder
            <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{{ uri_for('sc2-match-history') }}">View Matches</a></li>
                <li><a href="{{ uri_for('sc2-player') }}">View Player Rankings</a></li>
            </ul>
        </li>
    {% if is_admin %}
        <li class="divider-vertical"></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{{ uri_for('sc2-admin-season') }}">List Seasons</a></li>
                <li><a href="{{ uri_for('sc2-admin-player-create') }}">Create Players</a></li>
                <li><a href="{{ uri_for('sc2-admin-match-create') }}">Create Match</a></li>
            </ul>
        </li>
    {% endif %}
        <li class="divider-vertical"></li>
        {% if logout %}
            <li><a href="{{ logout }}">Sign Out</a></li>
        {% else %}
            <li><a href="{{ login }}">Sign In</a></li>
        {% endif %}
    </ul>
{% endblock%}

{% block page_content %}
    {% for alert_type, alert_text in alerts %}
        <div class="alert alert-{{ alert_type }}">
            {{ alert_text }}
        </div>
    {% endfor %}
    <div class="controls">
        {% block controls %}
        {% endblock %}
    </div>

    <div class="alert">
        <h1>Attention!</h1>
        Check out the new and improved <a href="/sc2/ng/">VendAsta Starcraft 2 Ladder</a> implemented using Angular Material.
    </div>
    {% block content %}{% endblock %}
{% endblock %}

{# Blanking out the watermark #}
{% block watermark %}{% endblock %}

{% block body_scripts %}
    {% block script %}{% endblock %}
{% endblock %}
