{% extends "sc2/global.html" %}

{% block content %}
<h1>Vendasta 2014 Winter StarCraft II - Season 1</h1>

<h2>Options</h2>
<ul>
    <li><a href="/matches/submit">Submit a Match</a></li>
    <li>View Match History</li>
    <li>View Player Rankings</li>
    <li>Match History</li>
</ul>

<h2>Current Match Schedule [Week 1 - January 13th 2014]</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
{% endblock %}